<br><br>

<div class="user-profile">
  Username: <%= @user.username %><br>
  Email: <%= @user.email %><br>

  <%= @user.username.capitalize %>'s Books: <% @user.books.each do |book| %><br>
     <a href="/book/<%= book.id %>"><%= book.title %></a>
    <% end %>

</div>
<br><br>
<a href="/book/new"> Add a Book </a>