<br><br>

<h2><%= @book.title %></h2><br>
by <%= @book.author %>
<br>
<%= @book.summary %>
<br> <br>

<h3>Bookworm Reviews:</h3> <br>
<p><%= @reviews.count %> reviews</p><br>

<% if current_user %>
  <div class="review-box">
    <form action="/book/<%= @book.id %>" method=POST class="add-review">
      <textarea rows="4" cols="50" id="review" name="text"></textarea><br><br>
      <input type="submit" value="submit">
    </form>
  </div>
<% end %>



  <ul class="book-reviews">
    <% @reviews.each do |review| %>
      <%= erb :'books/_review', locals: { review: review } %>
    <% end %>
  </ul>



