<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <!-- <header> -->


    <div id="login-toolbar">
      <a href="/">BookWorms</a><br>
      <% if current_user %>
      Hello, <a href="/user/<%=current_user.id%>"> <%= current_user.username.capitalize %></a> <img src="http://simpleicon.com/wp-content/uploads/book-1.png"> <a href="/logout">Logout</a>
      <% else %>
        <a href="/login" class="home-login">Login</a> <img src="http://simpleicon.com/wp-content/uploads/book-1.png"> <a href="/signup"> Signup </a>
      <% end %>
      <%= display_error %>
    </div>

  <!-- </header> -->
  <div class="login">
      <%= erb :'auth/login' %>
  </div>
  <%= yield %>
<!-- </div> -->
</body>
</html>


